@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 64px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-size: 28px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

body {
    /* background: #E5E5E5; */
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

/* .container {
    padding: 0 20px 0 60px;
    flex: 1;
} */

.main__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 3px solid rgb(138, 23, 23); */
}

.self.main__wrapper {
    width: 100%;
}

.main__wrapper div {
    /* border: 3px solid rgb(138, 23, 23); */
    box-sizing: border-box;
    padding: 4px;
    margin: 4px;
    min-height: 40px;
}

.main__header__container {
    padding: 0 20px 0 60px;
    flex: 1;
}

.self.content__container {
    width: 95%;
    margin: 0 auto;
}

.self.active {
    color: rgb(255, 0, 0);
}

/* ================================================ */

.self.main__nav__container {
    margin: 0;
}

.main__nav__container {
    border-bottom: 2px solid #E0E0E0;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.nav__header {
    display: flex;
    align-items: center;
}

.nav__header .icons {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.nav__header .icons span {
    color: rgb(255, 0, 0);
    transition: 1s;
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 12.154px;
}

.nav__header .icons i {
    margin: 0 17px 0 0;
    opacity: 0.5;
}

.nav__header .icons i:hover {
    opacity: 1;
    color: rgb(0, 0, 255);
}


.nav__header .count {
    margin: 0;
}



.nav__logo a img {
    margin: -15px;
    height: 40px;
}

.nav__header .icons_2 {
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
}

.nav__menu ul {
    display: flex;
    justify-content: center;
    margin-left: 350px;
}

.nav__menu ul li {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav__menu ul li a {
    color: black;
    font-family: 'Russo One', sans-serif;
}

.nav__menu ul li a:hover {
    color: rgb(124, 0, 0);
}

/* ==================================== header ============================ */

.main__header__container .groups {
    position: relative;
    display: flex;
    align-items: center;
}

.main__header__container .groups .arrow_one {
    background-color: #595959;
    position: absolute;
    padding: 11px 19px 0px 12px;
    border-radius: 15px;
}

.main__header__container .groups .arrow_two {
    background-color: #595959;
    position: absolute;
    right: 0;
    border-radius: 15px;
    padding: 11px 19px 0px 12px;
}

/* ============================================================ Places Styles start */

.novini {
    color: rgb(255, 255, 255);
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 760px;
    left: 861px;
    letter-spacing: 4px;
    font-size: xx-large;

}

.self.main__magazine__container {
    box-shadow: 0 5px 50px -35px #333;
}

.magazine__container {
    background-image: url(/img/метка/Новости.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 140px;
}

.main__magazine__container {}

.places {
    margin-bottom: 131px;
}

.places__caption {

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}

.places__view-all {
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/Shape.svg) no-repeat right center;
}

.places__view-all:hover,
.places__view-all:focus {
    opacity: 0.65;
}

.places__cards {
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}


.places__card {
    position: relative;
    overflow: hidden;
}

.places__card::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-pic {
    transform: scale(1.15);
}

.places__card-title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places__card_size_lg {
    grid-column: span 3;
}

.places__card_size_sm {
    grid-column: span 2;
}

.places__card-pic {
    width: 100%;
    transition: .15s all;
}

.places__card-pic_size_lg {
    height: 354px;
    object-fit: cover;
}

.places__card-pic_size_sm {
    height: 283px;
    object-fit: cover;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.places__cards img {
    vertical-align: middle;
}

/* ============================================================ Places Styles end */


/* =================================== ТОВАРИ ======================= */

.main__tovar__container {
    background-image: url(/img/метка/long.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 200px;
}

.tovar__container {}

.main_text h2 {
    margin-top: 250px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;
    letter-spacing: 5px;
}


/* ====================== ===================== CARD ==================== */


/* =============================================== CARD */

.self.main__card {
    margin-top: 130px;
}

.main__type__container h2 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
}


.cards {
    display: flex;
    /* flex-wrap: wrap; */
}

.self.card {
    padding: 0;
}

.card {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 25%;

}

.main__tovar__container .card:hover {
    border-radius: 10px;
    /* border: 3px solid red;
    transition: 1.5s;
    transform: rotate(1turn);
    padding: 0px 0px 0px 0px;
    cursor: pointer; */
}

.main__tovar__container button {
    margin-top: 50px;
    margin-left: 690px;
    margin-bottom: 200px;
}

.main__tovar__container button a {
    padding: 25px 100px 25px 100px;
    font-family: 'Russo One', sans-serif;
    color: white;
    border-radius: 15px;
    background-color: #333;
    font-size: 28px;
}

.main__tovar__container button a:hover {
    color: white;
    background-color: rgb(141, 68, 68);

}

.main__tovar__container button:hover {
    transform: scale(1.2);
    transition: 1.1s;
}

.card img {
    margin: 0;
    padding: 0;
    height: 310px;
    width: 310px;
    margin-left: 50px;
    margin-top: 23px;
}

.main__description {}

.main__description span {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Russo One', sans-serif;
    color: #303030;
    display: flex;
    justify-content: center;
}

.main__tovar__container .main__description:hover {}

.main__description p {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ================================== PAPAPA  ======================================= */

.main__tovar__container .main__description {}

.main__tovar__container .main__description span {
    transition: 0.2s;
    transform: translateY(20px);
}

.main__tovar__container .main__description p {
    transition: 0.2s;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    background-color: red;
    padding: 20px 60px 20px 60px;
    border-radius: 0 70px 0 70px;
    color: white;
}

.main__tovar__container .main__description p:hover {
    background-color: #303030;
    border-radius: 70px 0 70px 0;
    transition: .8s;
}

.main__tovar__container .main__description:before {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-top: solid 2px;
    border-bottom: solid 2px;
    transition: 0.2s;
    transform: scaleX(0);
}


.main__tovar__container .main__description:after {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-left: solid 2px;
    border-right: solid 2px;
    transition: 0.2s;
    transform: scaleY(0);
}

.main__tovar__container .main__description:hover:before,
.main__tovar__container .main__description:hover:after {
    transform: scale(1);
}

.main__tovar__container .main__description:hover span,
.main__tovar__container .main__description:hover p {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* =============================================== BREND ==================================== */

.main__brend__container {
    background-image: url(/img/метка/Последние.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100px;

}

.self.main__brend__container {
    box-shadow: 0 5px 50px -35px #333;
}

.tovar__container {}

.main__brend__container .main h2 {
    margin-top: 90px;
    opacity: 0.8;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
}

.main__brend__container .groups {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__brend__container .groups .arrow_one {
    background-color: #595959;
    position: absolute;
    left: 230px;
    border-radius: 15px;
    top: 110px;
    padding: 11px 19px 0px 12px;
}

.main__brend__container .groups .arrow_two {
    background-color: #595959;
    position: absolute;
    right: 270px;
    border-radius: 15px;
    top: 110px;
    padding: 11px 19px 0px 12px;
}

.main__brend__container .image {
    margin-right: 120px;
    padding-bottom: 100px;
}

.main__brend__container .image img {
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 60px;
}

/* =========================================== FOOTER ======================================== */

footer {
    background: #2C2C2C;
    margin: 119px 0 0 0;
}

.footer__item {

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__logo img {
    margin-top: 25px;
}

.footer__logo {
    width: 35%;

}

.footer__nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
}

.footer__menu-title {
    color: #fff;
    font-weight: 500;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu {}

.footer__menu-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
    opacity: .75;
}

.self.wrapper-full {
    width: 75%;
    margin-left: 220px;
    margin-top: 250px;
    margin-bottom: 150px;
}

/* =============================== ADAPT ============================== */

@media (max-width: 1200px) {
    .main__nav__container {
        border-bottom: 2px solid #E0E0E0;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: white;
    }

    .nav__menu ul {
        display: flex;
        justify-content: center;
        margin-left: 150px;
    }

    /* ================================================================ HEADER */
    .main__header__container .groups .arrow_one {
        background-color: #595959;
        position: absolute;
        padding: 11px 19px 0px 12px;
        border-radius: 15px;
    }

    .main__header__container .groups .arrow_two {
        background-color: #595959;
        position: absolute;
        right: 0px;
        border-radius: 15px;
        padding: 11px 19px 0px 12px;
    }

    .main__header__container .groups img {
        width: 100%;
    }

    /* ================================ NOVINI */

    .magazine__container {
        background-position-x: 350px;
        background-position-y: 140px;
    }

    .novini {
        color: rgb(255, 255, 255);
        font-family: 'Russo One', sans-serif;
        position: absolute;
        top: 760px;
        left: 521px;
    }

    .self.wrapper-full {
        width: 85%;
        margin-left: 90px;
        margin-top: 250px;
        margin-bottom: 150px;
    }

    .places__card-title {
        font-size: 40px;
        line-height: 60px;
        color: white;
        position: absolute;
        bottom: 27px;
        left: 29px;
        z-index: 3;
    }

    /* ============================ tovar============================ */

    .main__tovar__container {
        background-image: url(/img/метка/long.jpg);
        background-repeat: no-repeat;
        background-position-x: 260px;
        background-position-y: 200px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        border: 2px solid #ddd;
        border-radius: 10px;
        width: 49.2%;

    }

    .card img {
        margin-left: 100px;
    }

    .main__tovar__container button {
        margin-top: 50px;
        margin-left: 350px;
        margin-bottom: 200px;
    }

    /* ====================================== BREND =================================== */

    .main__brend__container .groups .arrow_one {
        background-color: #595959;
        position: absolute;
        left: 0px;
        border-radius: 15px;
        top: 110px;
        padding: 11px 19px 0px 12px;
    }

    .main__brend__container .groups .arrow_two {
        background-color: #595959;
        position: absolute;
        right: 0px;
        border-radius: 15px;
        top: 110px;
        padding: 11px 19px 0px 12px;
    }

    .main__brend__container .image {
        margin-right: 0px;
        padding-bottom: 100px;
    }

    .main__brend__container .image img {
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 60px;
    }
}